body {
    color: white;
    font-family: 'Lato', sans-serif;
}
.navbar-default {
    background-color: #313e4f;
    height: 100px;
}

.navbar-default .navbar-brand {
    color: white;
    font-size: 25px;
}

.container {
    padding-top: 25px;

}

.navbar-default .navbar-nav>li>a {
    color: white;
    font-size: 15px;
}

.jumbotron {
    background-color: #66ba9e;
}

.jumbotron img {
    height: 250px;
    margin-top: 30px;
}

.jumbotron h1 {
    color: white;
    font-size: 55px;
}

.navbar {
    margin-bottom: 0px;
    border: 0px;
    border-radius: 0px;
}
